<!--boostrap-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap User Management Data Table</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
<div class="container">
    <div class="user-name"><h2>Hello</h2></div>
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-5">
                        <h2>User <b>Management</b></h2>
                    </div>
                    <div class="col-xs-7">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                            Search
                        </button>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Add Student
                        </button>
                        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card card-body">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="search-data"
                                                       placeholder="Search">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary" id="search">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card card-body">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="name-confirm"
                                                       placeholder="Name">
                                                <!--        <span class="error-message" id="name-error"></span>-->
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="age-confirm"
                                                       placeholder="Age">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="phone-confirm"
                                                       placeholder="PhoneNumber">

                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="email-confirm"
                                                       placeholder="Email">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm">
                                            Confirm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card card-body">
                                            <h3>Create Student</h3>
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" id="name" placeholder="Name">
                                                <!--        <span class="error-message" id="name-error"></span>-->
                                            </div>
                                            <div class="form-group">
                                                <label>Age</label>
                                                <input type="text" class="form-control" id="age" placeholder="Age">
                                            </div>
                                            <div class="form-group">
                                                <label>PhoneNumber</label>
                                                <input type="text" class="form-control" id="phone"
                                                       placeholder="PhoneNumber">

                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" id="email" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="index" hidden>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary" id="add">Add</button>
                                        <!--                                        <button type="button" class="btn btn-primary" id="edit" >Edit</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" id="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="tbody"></tbody>

            </table>
            <!--            <div class="clearfix">-->
            <!--                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>-->
            <!--                <ul class="pagination">-->
            <!--                    <li class="page-item disabled"><a href="#">Previous</a></li>-->
            <!--                    <li class="page-item"><a href="#" class="page-link">1</a></li>-->
            <!--                    <li class="page-item"><a href="#" class="page-link">2</a></li>-->
            <!--                    <li class="page-item active"><a href="#" class="page-link">3</a></li>-->
            <!--                    <li class="page-item"><a href="#" class="page-link">4</a></li>-->
            <!--                    <li class="page-item"><a href="#" class="page-link">5</a></li>-->
            <!--                    <li class="page-item"><a href="#" class="page-link">Next</a></li>-->
            <!--                </ul>-->
            <!--            </div>-->
        </div>
    </div>
</div>
</body>
</html>


<!--script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="module" src="../src/Main.js"></script>
<!--<script type="module" src="StudentManager.js"></script>-->
<!--<script src="../src/UserManager.js"></script>-->
<!--<script type="module" src="../src/Main.js"></script>-->
<!--<script src="../src/index.js"></script>-->
